{{#*inline "page"}}
<h1>Login</h1>
<form action="/login" method="post">
    <p><label for="username">Username </label><input name="username" id="username" /></p>
    <p><label for="password">Password </label><input name="password" type="password" id="password" /></p>
    <p><button>Login</button></p>
</form>
{{/inline}}

{{> main_layout}}