{{#*inline "page"}}
<form action="/torrents" method="post" enctype="multipart/form-data">
    <p><input type="text" name="short_name"></p>
    <p><input type="file" name="metainfo"></p>
    <p><button>Salvar</button></p>
</form>
{{/inline}}

{{> main_layout}}